<!DOCTYPE html>
<html>
{{import "module/pc-header.hbs"}} {{!-- --}}

<body>

  <div class="ui grid" id="container">
    <div class="sixteen wide column">
      <div class="ui menu">
        <div class="header item"><i class="left delicious icon"></i>ss</div>
      </div>
      <div class="ui bottom attached segment pushable">
        <div class="pusher">
          <div class="ui basic segment">
            <div class="ui grid">
              <div class="fourteen wide column">
                <h3 class="ui dividing header">VPS管理</h3>
              </div>
              <div class="two wide column">
                <a class="blue mini ui button" href="/add-vps.html">
                  <i class="add icon"></i>添加
                </a>
              </div>
            </div>
            <div class="ui grid">
              <div class="sixteen wide column datalist">
                <table class="ui selectable celled striped table">
                  <thead>
                    <tr>
                      <th>ip</th>
                      <th>port</th>
                      <th>password</th>
                      <th>scret</th>
                      <th>veid</th>
                      <th>apikey</th>
                      <th>private</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  {{{{raw}}}}
                  <tbody id="app">
                    <tr v-for="vps in vpsList">
                      <td>{{vps.ip}}</td>
                      <td>{{vps.port}}</td>
                      <td>{{vps.password}}</td>
                      <td>{{vps.encryption}}</td>
                      <td>{{vps.veid}}</td>
                      <td>{{vps.apikey}}</td>
                      <td>{{vps.private}}</td>
                      <td>
                        
                        <button class="ui red mini button" v-if="!vps.private" v-on:click="lock(vps.id)">锁定</button>
                        <button class="ui green mini button" v-if="vps.private" v-on:click="unlock(vps.id)">公开</button>
                        <a class="ui blue mini button" :href="'/edit-vps.html?id=' + vps.id">编辑</a>
                      </td>
                    </tr>
                  </tbody>
                  {{{{/raw}}}}
                </table>
              </div>
            </div>
          </div>
          <div class="ui center aligned container copyright">copyright©apying.com</div>
        </div>
      </div>
      <script src="//cdn.staticfile.org/vue/2.2.6/vue.min.js"></script>
      <script>
        var app = new Vue({
          el:"#app",
          data: {
            vpsList:[]
          },
          methods:{
            lock:function(id){
              $.ajax({
                url:"/admin/vps/"+id,
                method: "PUT",
                data: {private: true}
              }).done(function(){
                freshData()
              }).fail(function(resp){
                if(resp.status == 401){
                  location.href = "/login.html"
                }
              })
            },
            unlock:function(id){
              $.ajax({
                url:"/admin/vps/"+id,
                method: "PUT",
                data: {private: false}
              }).done(function(){
                freshData()
              }).fail(function(resp){
                if(resp.status == 401){
                  location.href = "/login.html"
                }
              })
            }
          }
        })
        var freshData = function(){
          $.get("/admin/vps").then(function(data){
            app.vpsList = data
          }).fail(function(resp){
            if(resp.status == 401){
              location.href = "/login.html"
            }
          })
        }
        freshData()
      </script>
</body>

</html>